

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root,
body {
  height: 100%;
  color: #fff;
  background-color: #573258;
}

.bg-dark-blue {
  background-color: #573258 !important;
}

.navbar {
  background-color: rgb(253, 221, 241) !important;
}
